.tst-color-scheme {
	--tst-color1: #135e6f;
	--tst-color2: #ffffff;
	--tst-color3:#2f8d98;
}

body {
	color: var(--tst-color1);
	background-color: var(--tst-color2);
	font-family: Gotham, Montserrat, "Noto Sans", Helvetica, Calibri, Arial, "Noto Serif", Garamond, "Times New Roman";
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-size: 13px;
}

.tst-header {
	color: var(--tst-color2);
	background-color: var(--tst-color1);
	border-color: var(--tst-color2);
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	padding-left: 4px;
	margin-bottom: 8px;
}

.tst-category {
	color: var(--tst-color1);
	background-color: var(--tst-color2);
	border-color: var(--tst-color1);
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
	padding-left: 4px;
	padding-right: 4px;
}

.tst-list {

}

a {
    color: var(--tst-color3);
}
