.container {
  width: 550px;
  height: 400px;
  position: relative;
  border: 1px solid #ccc;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
   perspective: 800px;
}
.card {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
}
.card div {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 50px;
  color: white;
  text-align: center;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card .front {
  border: 1px solid black;
  font-size: 40px;
  font-weight: bold;
}
.card .back {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
  font-size: 20px;
}
.card.flipped {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.tblTitle {
  background-color: black;
  color: lightgray;
  width: 550px;
}

.txtTitle {
  font: 24px arial;
}

.txtSubtitle {
  font: 16px arial;
}

.btnControl {
  font: 16px arial;
/*  padding: 10px 24px;*/
  border-radius: 8px;
}

.tdControl {
  text-align: right;
}

.tblCard {
/*  border: 1px solid red;*/
  width: 100%;
  height: 100%;
}

.trCard {
/*  border: 1px solid green; */
}

.tdCard {
/*  border: 1px solid blue;*/
}

.btnCard {
    background-color: #4CAF50; 
    border: none;
    color: white;
    width: 90%;
    height: 90%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px
}

.btnCard {
    background-color: #4CAF50; 
    border: none;
    color: white;
    width: 90%;
    height: 90%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px
}
